.email-image {
  text-align: center;
  background-color: gray(2);
}

.email-image--large {
  padding: 8rem 0;
}

.email-image--small {
  padding: 6rem 0;
}

img {
  display: block;
  max-width: 100%;
}
