.email-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;

  font-family: $sans-serif;
  font-size: 1.5rem;
}

.email-list li {
  margin-bottom: 1rem;
  padding-left: 0.25rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
