.email-wrapper {
  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  h1 {
    font-family: $serif;
    font-size: 3rem;
    line-height: 1.2;
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2;
  }

  p,
  li,
  a {
    font-family: $sans-serif;
    font-size: 1rem;
    line-height: 1.7;

    &.email-small {
      font-size: 1rem;
    }
  }

  a {
    color: lcsBlue(5);

    &.email-button {
      display: block;
      margin-top: 1rem;
      padding: 1rem 2rem;

      color: $white;
      font-family: $sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      background-color: lcsBlue(5);
    }

    &.no-underline {
      text-decoration: none;
    }
  }
}
