// Base Colors
// ----------------------------------------------------------------------------

$white: #ffffff;

// Colorado State Colors
$base-co-green: #00953A;
$base-co-orange: #EF7521;
$base-co-blue: #6EC4E8;
$base-co-brown: #65503C;
$base-co-silver: #D0D2D3;
$base-co-slate: #5C666F;
$base-co-black: #000000;

// LCS Colors
$lcs-gold: #B39A25;


// Color Palettes
// ----------------------------------------------------------------------------


// Primary Legislative Council Services Colors

  $lcs-blue: (
    1: #c7e3f7,
    2: #8fc8ef,
    3: #57ade7,
    4: #186ea8,
    5: #12527d,
    6: #0c3754
  );

  $lcs-gold: (
    1: #f1eddd,
    2: #e4dcbb,
    3: #d7cb9a,
    4: #bdaa57,
    5: #94833a,
    6: #635727
  );

  $lcs-grey: (
    1: #d9d9d9,
    2: #bfbfbf,
    3: #a6a6a6,
    4: #808080,
    5: #595959,
    6: #404040
  );

// Additional Legislative Council Colors

  $lcs-purple: (
    1: #E9DAE6,
    2: #D4B6CE,
    3: #BF91B6,
    4: #8C5281,
    5: #683D60,
    6: #462940
  );

  $lcs-mauve: (
    1: #EEE0E0,
    2: #DDC1C1,
    3: #CDA3A3,
    4: #AC6666,
    5: #844848,
    6: #583030
  );

  $lcs-red: (
    1: #F3D8D8,
    2: #E7B2B2,
    3: #DB8C8C,
    4: #C44040,
    5: #942E2E,
    6: #621E1E
  );

  $lcs-teal: (
    1: #DAF4F4,
    2: #B5E9E9,
    3: #91DFDF,
    4: #48CACA,
    5: #2E9E9E,
    6: #1F6A6A
  );

  $lcs-green: (
    1: #CEEFD9,
    2: #9EDFB4,
    3: #6ED08F,
    4: #2F9150,
    5: #236C3B,
    6: #174828
  );

  $lcs-orange: (
    1: #F5E0CF,
    2: #EAC19F,
    3: #E0A270,
    4: #B76827,
    5: #884D1D,
    6: #5B3413
  );

// Colorado State Colors

  $co-blue: (
    1: #A3E4FF,
    2: #8CD9FA,
    3: #82D3F5,
    4: $base-co-blue,
    5: #5BB4D9,
    6: #49A5CC,
    7: #4B98B8
  );

  $co-brown: (
    1: #B38D6A,
    2: #99795B,
    3: #80654C,
    4: $base-co-brown,
    5: #4D3926,
    6: #402F20,
    7: #2E2217
  );

  $co-green: (
    1: #00E057,
    2: #00C74D,
    3: #00AD43,
    4: $base-co-green,
    5: #006E2B,
    6: #005421,
    7: #004019
  );

  $co-orange: (
    1: #FF9D59,
    2: #FA8F46,
    3: #FA812D,
    4: $base-co-orange,
    5: #CC5E12,
    6: #C9580A,
    7: #B34900
  );

// United States Web Design Colors

  $uswds-grayscale: (
    1: #FAFAFA,
    2: #F0F0F0,
    3: #DCDEE0,
    4: #A9AEB1,
    5: #71767A,
    6: #565C65,
    7: #3D4551,
    8: #171717
  );

  $uswds-info-blue: (
    1: #E7F6F8,
    2: #9DDFEB,
    3: #00BDE3,
    4: #009BC2,
    5: #2E6276
  );

  $uswds-error-red: (
    1: #F4E3DB,
    2: #F39268,
    3: #D63E04,
    4: #B50909,
    5: #6F3331
  );

  $uswds-warning-yellow: (
    1: #FAF3D1,
    2: #FEE685,
    3: #FFBE2E,
    4: #E5A000,
    5: #936F38
  );

  $uswds-success-green: (
    1: #ECF3EC,
    2: #70E17B,
    3: #0CA900,
    4: #466432,
    5: #364B29
  );

  $uswds-disabled-gray: (
    1: #E6E6E6,
    2: #C9C9C9,
    3: #ADADAD
  );

// Color Functions
// ----------------------------------------------------------------------------

// LCS Colors

  @function lcsBlue($num: 4) {
    @return map-get($lcs-blue, $num);
  }
  @function lcsGrey($num: 4) {
    @return map-get($lcs-grey, $num);
  }
  @function lcsGold($num: 4) {
    @return map-get($lcs-gold, $num);
  }
  @function lcsPurple($num: 4) {
    @return map-get($lcs-purple, $num);
  }
  @function lcsMauve($num: 4) {
    @return map-get($lcs-mauve, $num);
  }
  @function lcsRed($num: 4) {
    @return map-get($lcs-red, $num);
  }
  @function lcsTeal($num: 4) {
    @return map-get($lcs-teal, $num);
  }
  @function lcsGreen($num: 4) {
    @return map-get($lcs-green, $num);
  }
  @function lcsOrange($num: 4) {
    @return map-get($lcs-orange, $num);
  }



@function blue($num: 4) {
  @return map-get($co-blue, $num);
}

@function brown($num: 4) {
  @return map-get($co-brown, $num);
}

@function gray($num: 5) {
  @return map-get($uswds-grayscale, $num);
}

@function green($num: 4) {
  @return map-get($co-green, $num);
}

@function orange($num: 4) {
  @return map-get($co-orange, $num);
}

// ----------------------------------------------------------------------------

@function colorDisabled($num: 2) {
  @return map-get($uswds-disabled-gray, $num);
}

@function colorError($num: 3) {
  @return map-get($uswds-error-red, $num);
}

@function colorInfo($num: 3) {
  @return map-get($uswds-info-blue, $num);
}
@function colorSuccess($num: 3) {
  @return map-get($uswds-success-green, $num);
}
@function colorWarning($num: 3) {
  @return map-get($uswds-warning-yellow, $num);
}
