.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  & + & {
    margin-top: 1rem;
  }
}

.col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@for $i from 1 through 6 {
  .col-#{$i} {
    @include flex-width(percentage($i/6))
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
